DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=sQX60IqywCMLI6xV
DB_PORT=5432
DB_USER=postgres.khudodonuubcqupqskxr
DEBUG=True
DJANGO_SECRET_KEY=gJZtWw_04ABCfC2yWBx0ofHb-JW3ULHaNyysoAN356C9r9O8idDCtIJUOxduYbdiJxQ
JWT_SECRET_KEY=p0kgYZvcbG97fvFItzSx-Xp8KAKRTWLIJjMDJTTSQX3xBQv9C-6yoYXZS3kf9Akz4A0QYq2O1RFxjoLT9bHQzg
R2_ACCESS_KEY_ID=ab8a49fef4230edcaf80d5bf742cf05b
R2_ACCOUNT_ID=57004a7813d5d649e00254e99f895eb3
R2_BUCKET_NAME=clm
R2_PUBLIC_URL=https://clm.r2.cloudflarestorage.com
R2_SECRET_ACCESS_KEY=59a775f5c24f70adb903a3d25d42ba21b586e26dcf6405ff6b1c3ea59410d23c
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtodWRvZG9udXViY3F1cHFza3hyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU4ODk5NTUsImV4cCI6MjA1MTQ2NTk1NX0.demo-key
SUPABASE_SERVICE_ROLE_KEY=demo-service-key
SUPABASE_URL=https://khudodonuubcqupqskxr.supabase.co